* { box-sizing: border-box; }

body { margin: 0; }

header {
    text-align: center;
    padding: 2rem;
}

section {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

article {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

article img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
}

@media (max-width: 800px) {
    article {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    article {
        flex: 100%;
        max-width: 100%;
    }
}