* { box-sizing: border-box; }

body { margin: 0px; }

header {
    text-align: center;
    padding: 2rem;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

article {
    float: left;
    max-width: 25%;
    padding: 0px 4px;
}

article img {
    width: 100%;
    margin-top: 8px;
}

@media all and (max-width: 768px) {
    article {
        max-width: 50%;
    }
}

@media all and (max-width: 576px) {
    article {
        max-width: 100%;
    }
}