* {box-sizing: border-box;}

header {
    padding: 60px;
    text-align: center;
    background-color: black;
    color: white;
}

body {
    margin: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 25%;
}
